@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito&display=swap');

form{
    display: grid;
    width: 250px;
    padding: 10px;
    height: 280px;
    justify-content: center;
    background: #FFFFFF;
    border: 2px solid #E9ECEF;
    border-radius: 4px;
    margin: 0 auto;
}

label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #212529;
}

.lableDescription{
    margin-top: 29px;
}

.inputDescription{
    background: #F8F9FA;
    border: 2px solid #F8F9FA;
    box-sizing: border-box;
    width: 240px;
    border-radius: 8px;
    display: flex;
    Height: 52.8px;
    align-items: center;
    margin-top: 12px;
    padding: 0px 16px;
}

.inputDescription:focus {
    box-shadow: 0 0 0 0;
    outline-color: #868e96;
  }

::placeholder{
    width: 190px;
    height: 26px;
    left: 16px;
    top: 13.4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #868E96;
}

.titleEx{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    margin-top: -10px;
    color: #868E96;
}

.inputsValueType{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.valueInput, .typeInput{
    align-items: center;
    background: #F8F9FA;
    border: 2px solid #F8F9FA;
    box-sizing: border-box;
    border-radius: 8px;
    height: 48px;
    width: 128px;
    border-radius: 8px;
    padding-left: 10px;
    color: #868E96;
}

.typeInput:focus {
    box-shadow: 0 0 0 0;
    outline-color: #868e96;
  }

  .valueInput:focus {
    box-shadow: 0 0 0 0;
    outline-color: #868e96;
  }


.buttonInput{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FD377E;
    border: 2px solid #FD377E;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
}

.buttonInput:hover{
    background: #dd2266;
}

@media (min-width:768px) {
    
    form{ 
    padding: 30px;
    height: 280px;
    margin-left: 15%;
}

}