@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito&display=swap');

.divList{
    display: flex;
    margin-top: 36px;
    justify-content: space-around;
    width: 300px;
}

.titleList{
    font-family: 'Nunito';
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: -20px;
    margin-top: 20px;
}

.allButton{
    height: 40px;
    width: 69px;
    border-radius: 8px;
    background: #FD377E;
    border: 1.4px solid #FD377E;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: 'Nunito';
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
    margin-bottom: 15px;
}

.allButton:hover{
    background: #dd2266;
}

.outButton, .inButton{
    height: 40px;
    width: 69px;
    border-radius: 8px;
    background: #E9ECEF;
    border: 1.4px solid #E9ECEF;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: 'Nunito';
    color: #868E96;;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
}

.outButton:hover{
    background: #bec0c2;
}

.inButton:hover{
    background: #bec0c2;
}

.divResumo{
    display: grid;
    justify-content: center;
}


@media (min-width:768px) {
    
    form{ 
    padding: 30px;
    height: 280px;
    margin-left: 15%;
}

}

@media (min-width:1024px) {
    
    .divResumo{ 
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 30px;
        width: 700px;
}

    .titleList{
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0em;
        text-align: center;
        margin-bottom: 0px;
    }

}

@media (min-width:1440px) {
    
    .divResumo{ 
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 700px;
}

    .titleList{
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0em;
        text-align: center;
        margin-bottom: 0px;
    }

}