@import url("https://fonts.googleapis.com/css2?family=Inter&family=Nunito&display=swap");

.homePageDiv {
  background: rgba(33, 37, 41, 1);
  display: flex;
  justify-content: center;
  height: 100vh;
}

.div1Home {
  display: grid;
  justify-content: center;
  align-items: center;
}

.inicio {
  padding: 13px 20px;
  width: 241px;
  height: 48px;
  left: 256px;
  top: 490px;
  background: #fd377e;
  border: 2px solid #fd377e;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.inicio:hover {
  background: #a71b4e;
}

.globalDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img1 {
  margin-bottom: 30px;
}

.img2 {
  margin-bottom: 28px;
  width: 250px;
}

.img3 {
  margin-bottom: 28px;
}

.img4 {
  display: none;
}

@media (min-width: 768px) {
  .globalDiv {
    justify-content: space-around;
  }

  .img4 {
    display: flex;
    width: 350px;
    height: 350px;
    align-items: center;
    margin-left: 50px;
  }
}

@media (min-width: 1024px) {
  .img4 {
    display: flex;
    width: 650px;
    height: 650px;
    align-items: center;
  }

  .div1Home {
    align-content: center;
  }
}